.header{
  background-color:#03111a;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-inner{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
.title{
  padding:20px 0px;
  margin:unset;
  cursor: pointer;
}
.nav {
  margin: auto;
  margin-right: 0;
  padding: auto;

  .header {
    background-color: #03111a;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .header-inner {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .title {
    padding: 20px 0px;
    margin: unset;
    cursor: pointer;
  }

  .nav {
    margin: auto;
    margin-right: 0;
    padding: auto;
  }
}